header{
  width: 100vw;
  height: 5vh;
  overflow: hidden;

  nav{
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    div.logo{
      width: 4rem;
      height: 65%;
      background-color: rebeccapurple;
    }

    ul{
      width: fit-content;
      display: flex;

      li{
        padding: 1em;
      }
    }
  }
}